/* 
This is the style sheet for the main landing page of the website 
@author Rhys Howell
*/

.landingPage {
    background-color: white;

    // background: url('/images/headphones.jpg') no-repeat scroll center center transparent;
    // background: url('/images/headphones.jpg') no-repeat scroll center top/cover transparent;

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    text-align: center;

    // font-family: "Cabin";
    font-family: 'MuseoSans300', sans-serif;

    z-index: -3;

    .topBarWrapper {
        position: absolute;
        width: 100%;
        height: 100%;

        text-align: center;

        z-index: -2;

        .topBar {
            margin-top: 4%;

            .topOption {
                display: inline-block;
                margin-left: 20px;
                margin-right: 20px;

                font-size: 16px;

                padding-bottom: 4px;
                padding-left: 4px;
                padding-right: 4px;

                -webkit-transition: all .15s ease;
                -moz-transition: all .15s ease;
                -ms-transition: all .15s ease;
                -o-transition: all .15s ease;
                transition: all .15s ease;
            }
            .topOption:hover {
                border-bottom: 2px solid $highlight;
                cursor: pointer;
            }
        }
    }

    .middleArea {

        z-index: -1;

        .steps {
            position: absolute;

            height: 300px;
            width: 300px;

            top: 18%;
            left: 50%;

            background: url('/images/steps.png') no-repeat scroll center center transparent;
            background: url('/images/steps.png') no-repeat scroll center top/cover transparent;

            z-index: -1;
        }

        .searchTitle {
            font-size: 24px;

            margin-top: 16%;
            margin-bottom: 8px;

            font-family: 'MuseoSans500', sans-serif;
        }
        #searchForm {
            .searchBox {
                outline: none;
                border: none;

                // border-radius: 2px;
                border: 1px solid $light;
                border-radius: 2px 0px 0px 2px;

                height: 22px;
                width: 20%;
                padding-left: 6px;

                font-size: 12px;
            }
            .searchBox:focus {
                // border: 1px solid $highlight;
                box-shadow: 0 0 2px $highlight;
            }

            .searchButton {
                border: none;
                outline: none;

                //background-color: $light;
                background: none;
                background-color: white;
                border: 1px solid $light;
                border-radius: 0px 4px 4px 0px;

                height: 26px;
                font-size: 12px;
                width: 60px;
            }
            .searchButton:hover {
                cursor: pointer;
                box-shadow: inset 0px 1px 2px 0px $light;
            }
            .searchButton:active {
                box-shadow: inset 0px 1px 2px 0px $medium;
            }
            .searchDescription {
                margin-top: 14px;
                font-size: 14px;
            }
        }
    }
}
