extends layout
block content
	script(defer="defer" src="/javascripts/Controller.js")
	.landingPage
		.mainContentBG
		.topBarWrapper
			.topBar
				.topOption#about
					a(href="/About").
						About
				.topOption#best
					a(href="/Best").
						Best
				.topOption#more
					a(href="/More").
						More
		.middleArea
			.steps
			.searchTitle.
				Item Trees
			form#searchForm(autocomplete="on")
				input.searchBox(type="text" placeholder="Summoner Name" autocomplete="on")
				input.searchButton(type="submit" value="Go!")
				.searchDescription.
					Perfect your build order.
